ROUTER_HOST=192.168.88.1
ROUTER_PORT=443
ROUTER_USER=admin
ROUTER_PASSWORD=
WAN_INTERFACE=ether1
SERVER_PORT=3001
TRAFFIC_POLL_MS=2000
BANDWIDTH_POLL_MS=5000
CLIENTS_POLL_MS=10000
DNS_POLL_MS=30000
SYSTEM_POLL_MS=10000
AUTO_CREATE_MANGLE=true
